@using EntityKatman.concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Aktif Rotalar</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form asp-action="Index" method="get" asp-area="Member">
                        <p class="card-text">

                            <div>
                                <p>
                                    Aranacak Kelime: <input type="text" name="searcString" value="@ViewData["CurrentFilter"]" />
                                    <input type="submit" name="name" value="Ara" class="btn btn-outline-info" />
                                </p>
                            </div>
                        </p>
                    </form>

                    <p><span class="text-bold-600">Example 1:</span> Table with outer spacing</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Şehir</th>
                                    <th>İlçe</th>
                                    <th>Kapasite</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td>@item.DestinationID</td>
                                        <td>@item.City</td>
                                        <td>@item.DayTimes</td>
                                        <td>@item.Capacity</td>
                                        <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Detaylar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
